*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
font-family: sans-serif;
}
a{
  color: rgba(41, 41, 41, 1);

}
.main{
  margin: 4rem 24rem;
}
.qna{
  margin: 2rem 0;
}
.first{
  display: flex;
  margin: 12px 8px;
}
.date{
  margin-right: 20px;
}
.date,.labels{
font-size: 14px;  
color: silver;
}
.labels span{
text-transform: capitalize;
margin-right: 4px;
}
.quiz{
  font-size: 22px;
  margin: 12px 0;
}
.ans{
  font-size: 16px;
  margin-top: 2rem;
color: rgba(41, 41, 41, 1);
}
.seperator{
  background-color: rgba(230, 230, 230, 1);
  height: 1px;
}

@media screen and (max-width:720px) {
 .main{
   margin: 4rem 4rem;
 } 
}